

  <div class="row">
      <div class="col">
          <div class="mt-200">
            <h1>Artista</h1>
          <hr>
          </div>
                 
          <form (ngSubmit)="crearArtista(f)"  #f="ngForm">

            <div class="form-group">
                <label for="" class="mt-2" >ID</label>
                <input type="text" class="form-control" required disabled placeholder="ID Autogenerado" [(ngModel)]="miArtista.id" name="id">
            </div>
            <div class="form-group">
                <label for="" class="mt-2" >Nombre Artista</label>
                <input type="text" class="form-control" required placeholder="Nombre Completo" [(ngModel)]="miArtista.nombreCompleto" name="nombreCompleto" >
            </div>
            <div class="form-group">
                <label for="" class="mt-2" >Edad</label>
                <input type="text" class="form-control" required placeholder="Edad" [(ngModel)]="miArtista.edad" name="Edad">
            </div>
            <div class="form-group">
                <label for="" class="mt-2" >Nacionalidad</label>
                <input type="text" class="form-control" required placeholder="Pais De nacimiento" [(ngModel)]="miArtista.nacionalidad" name="nacionalidad" >
            </div>
            
            <hr>
            <div class="row">  
                <div class="form-group text-center col-6" >
                    <button  type="submit" class="btn btn-primary"  >
                    <i class="fa fa-save"></i>
                        Guardar
                    </button >
                </div>
                <div class="form-group text-center col-6" *ngIf="miArtista.id >= 0" >
                    <button  type="button" class="btn btn-primary" (click)="editarArtista(f)">
                    <i class="fa fa-save"></i>
                        Actualizar
                    </button >
                </div>
            </div>
          </form>

          <div class="row mt-5">
            <table class="table table-dark table-hover" >
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Nombre Artista</th>
                <th scope="col">Edad</th>
                <th scope="col">Nacionalidad</th>
                <th scope="col"></th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr  *ngFor="let artista of artistaArray | paginate: { itemsPerPage: 10, currentPage: page }; let i =index"  >
                <th scope="row">{{artista.id}}</th>
                <td>{{artista.nombreCompleto}}</td>
                <td>{{artista.edad}}</td>
                <td>{{artista.nacionalidad}}</td>        
                
                <td>
                  <button class="btn btn-info mr-1" (click)="cargarArtista(artista)">
                    <i class="fa fa-pen"></i>
                  </button>
                </td>
                <td>
                  <button class="btn btn-danger mr-1" (click)="eliminarArtista(i)">
                    <i class="fa fa-trash"></i>
                  </button>
                </td>
            
            </tbody>
          </table> 
          <pagination-controls 
            (pageChange)="page = $event"
            previousLabel="Anterior"
            nextLabel="Siguiente">
          </pagination-controls>
        </div>          
      </div>
  </div>
